/* /css/style.css */

body {
    font-size: 18px;
    font-family: "sans-serif";
    line-height: 1.3;
    max-width: 800px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 20px 30px;
}

.header {
    overflow: hidden;
    max-width: 800px;
    margin-top: 0.5em;
    margin-bottom: 2em;
    font-size: 20px;
    border-bottom: 1px solid black;
}

.header a {
    float: left;
    color: black;
    text-align: left;
    text-decoration: none;
    border-radius: 4px;
    padding: 0.5em;
}

.header-right {
    float: right;
}

footer {
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    position: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 13px;
    color: #696969;  
    max-width: 800px;
}

/* Phone */
@media only screen and (min-width: 320px) {
    .header {
        font-size: 14px;
    }

    body {
        font-size: 12px;
    }
}

@media only screen and (min-width: 480px) {
    .header {
        font-size: 16px;
    }
    body {
        font-size: 14px;
    }
}

/* Desktop */
@media only screen and (min-width:1025px) {
      .header {
          font-size: 20px;
      }
      body {
          font-size: 18px
      }
}



